<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
<h1>list of jobs</h1>


<% @jobs.each do |t| %>
    <div class="job-post"><a href="/jobs/<%= t.id %>"><%= t.name %></a></div>

    <div><a href="/jobs/<%= t.id %>"><%= t.name %></a></div>

    

    <% end %>