<h1>Boats#show</h1>
<p>Find me in app/views/boats/show.html.erb</p>

<div><%= @boat.name %></div>
<div><%= image_tag @boat.avatar.url %></div>

<%= link_to "Delete", boat_path, method: :delete %>
<%= link_to 'Edit', edit_boat_path(@boat) %>